/* The grid container will hold grid items 1-5 */
.grid-container {
  display: grid;
  grid-template-areas:
    'logo header header'
    'menu menu menu'
    'main_photo main-text main-text'
    'mainButtons mainButtons mainButtons'
    'footer footer footer';
}

/* The Jimmy Fund logo & Give Now button*/
.item1 {
  grid-area: logo;
}

.logo {
  max-width: 97%;
}

/* Give-Now Button */
.item2 {
  grid-area: header;
  display: grid;
}

.item2 :hover {
  background-color: #ddd;
  color: black;
}

.givebutton {
  background-color: #faa51b;
  min-height: 75px;
  border: none;
  padding-left: 40px;
  padding-right: 40px;
}

.givebutton a {
  color: #ffffff;
  font-size: 20px;
}

/* Nav buttons*/
.item3 {
  grid-area: menu;
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  grid-gap: 5px;
  background-color: #0063ac;
  padding: 20px;
}

.item3 :hover {
  background-color: #ddd;
  color: black;
}

.navbuttons {
  background-color: #faa51b;
  min-height: 75px;
  border: none;
  padding-left: 40px;
  padding-right: 40px;
  color: #ffffff;
  font-size: 16px;
}

/* footer */
.item7 {
  grid-area: footer;
  display: grid;
  background-color: #0063ac;
  padding: 10px;
}

.item7 :hover {
  background-color: #ddd;
  color: black;
}

/* footer button */
.donatebutton {
  background-color: #faa51b;
  border: none;
  padding: 20px;
  color: #ffffff;
  font-size: 16px;
}

/* Mobile + up */
.page-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.page-title {
  text-align: center;
  font-size: 30px;
}

.opener {
  color: #006ca3;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
}

p {
  :0 ;
}

.page-image {
  display: block;
  width: 100%;
  max-width: 500px;
  justify-self: center;
}

/* Tablet + up */
@media (min-width: 1440px) {
  .page-wrapper {
    grid-template-columns: 1fr 2fr;
  }

  .page-title {
    grid-column: 1 / -1;
  }
}
